.popup__input {
    margin: 0;
    padding: 0;
    width: 350px;
    border: none;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    outline: none;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2.21;
}

@media (max-width: 550px) {
    .popup__input{
        max-width: 238px;
    }
}

